data:
  raw_dir: "data/raw"
  interim_dir: "data/interim"
  processed_dir: "data/processed"
datasets:
  year: 2018
  raw_csv_url: "https://www.eia.gov/consumption/commercial/data/2018/xls/cbecs2018_final_public.csv"
  codebook_url: "https://www.eia.gov/consumption/commercial/data/2018/xls/2018microdata_codebook.xlsx"
build:
  target: "LOG(MFBTU)"           # or your chosen target
  test_size: 0.2
  random_state: 1
  variance_threshold: 0.10
  drop_first_ohe: true